*{
    padding:10px;
    box-sizing:border-box;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    background-color:lightgrey;
}
.imagecontainer{
    width:300px;
    height:200px;
    border-radius: 10px;
}
.imagecontainer img{
    border-radius: 10px;
    width:100%;
    height:100%;
    filter : brightness(100%);
    
    transition: transform 0.5s ease;
}
.imagecontainer img:hover{
    transform: scale(1.2);
}