 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(27deg, rgb(248, 40, 17), rgb(109, 7, 211));
            background-repeat: no-repeat;
            height: 100vh;
            width: 100vw;
        }
        nav {
            background-color: #333;
            color: white;
            padding: 10px;
            overflow: hidden;
            align-items: center;
        }
        nav h4 {
            margin: 0;
            display: inline-block;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: block;
            float: right;
        }
        nav ul li {
            display: inline;
            margin-left: 20px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
        }
        nav ul li a:hover {
            color: orange;
        }
        .flex-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            
        }
        .form {
            background:rgb(0,0,0,0.2);
            color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.2);
            width: 300px;
        }