.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

.item1{
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    text-align: justify;
}
.item2{
    background-color: orangered;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    text-align: justify;
}
.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(247, 247, 247);
}

.item3{
    background-color: aqua;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    text-align: justify;
}
.item4{
    background-color: orangered;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    text-align: justify;
}