div{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition-property: width, height, background-color;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: step-start;
}
div:hover{
    width: 300px;
    height: 300px;
    background-color: red;
}